{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'people_it/css/FirstCss.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic" rel="stylesheet" />
    <title>{{ title }}</title>
</head>
<body>
<div class="wrapper">
    <div class="content">
        <header class="header">
            <div class="container">
                <div class="header_inner">
                    <a href ='{% url "home" %}' class="header_logo">PeopleTech</a>
                    
                    <nav class="header_nav">
                        {% block menu %}
                        {% for menu in menu %}
                        <div class="header_items"><a href="{% url menu.url_name %}" class="header_links">{{ menu.name }}</a></div>
                        {% endfor %}
                        {% if user.is_authenticated %}
                            <div class="header_last_item">{{user.username }} / <a href="{% url 'logout' %}" class="header_links">LogOut</a></div>
                        {% else %}
                            <div class="header_last_item"><a href="{% url 'login' %}" class="header_links">Sign In</a> / <a href="{% url 'register' %}" class="header_links">Sign Up</a></div>
                        {% endif %}
                        {% endblock %}
                    </nav>
                </div>
            </div>
        </header>
        <div class="container">
            <div class="content_inner">
                
                <nav class="content_cats">
                {% block categories %}
                {% if cat_selected == "all-categories" %}
                    <div class="cats_items"><div class="cats_selected">Все категории</div></div>
                {% else %}
                    <div class="cats_items"><a href="{% url 'home' %}" class="cats_links">Все категории</a></div>
                {% endif %}
                {% for cat in cats %}
                {% if cat_selected == cat %}
                    <div class="cats_items"><div class="cats_selected">{{cat.name}}</div></div>
                {% else %}
                    <div class="cats_items"><a href="{{ cat.get_absolute_url }}" class="cats_links">{{cat.name}}</a></div>
                {% endif %}
                {% endfor %}
                {% endblock %}
                </nav>
                <div class="content_posts">
                {% block content %}
                {% endblock %}
                </div>
            </div>
            <div class="pagination">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}" class="page_link">&lt</a>
                {% endif %}
                {% for page in paginator.page_range %}
                {% if page_obj.number == page %}
                    <div class="page_link page_link_selected">{{ page }}</div>
                {% elif page_obj.number|add:2 >= page and page > page_obj.number|add:-2 %}
                    <a href="?page={{ page }}" class="page_link">{{ page }}</a>
                {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}" class="page_link">&gt</a>
                {% endif %}
            </div>
        </div>
        <div>
        <div class="footer">
            <div class="footer_row">
                <div class="footer_item"><a href="https://github.com/Kirill-Makarov-genius/First-Django-Project" class="footer_link">Проект на бумаге(GitHub)</a></div>
            </div>
        </div>
    </div>
</div>   
</body>
</html>